body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

header {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;

  font-size: 10pt;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  & h1 {
    flex: 1;
  }

  & .inputs {
    display: flex;
    align-items: center;
    gap: 10px;

    & div {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    & label {
      font-size: 8pt;
    }

    & select {
      border-radius: 5px;
      background-color: transparent;
      color: white;
    }
  }
}

.shikiTextarea {
  margin: 15px;
  padding: 5px;
  text-align: left;
}

h1 {
  all: unset;
}
