body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mono-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --background-color: #282c34;
  margin: 0;
  overscroll-behavior: none;
}

code {
  font-family: var(--mono-font);
}

.app {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
  color: white;
}

.side-panel {
  display: flex;
  flex: 0 250px;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;

  & * {
    font-family: var(--mono-font);
  }
}

h1 {
  margin: 0px;
  font-size: 12pt;
}

footer {
  display: flex;
  bottom: 0px;
  left: 0px;
  flex-direction: column;
  align-self: flex-end;
  gap: 5px;
  z-index: 5;
  box-sizing: border-box;
  font-size: 10pt;
  font-family: var(--mono-font);

  & > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 5px;

    & > label {
      flex: 1;
    }
    & > :not(label) {
      flex: 1.5;
    }
  }
}

select,
button,
input {
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  background-color: var(--background-color);
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 0px;
  color: white;
  font-family: var(--mono-font);
}

main {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 30px;
  box-sizing: border-box;
  padding: 15px;
  height: 100vh;
  overflow: hidden;
}

.shikiTextarea {
  margin: 15px;
  padding: 5px;
  text-align: left;
}
