.editor {
  display: flex;
  position: relative;
  background-color: var(--theme-background-color);
  overflow: auto;
  caret-color: var(--theme-foreground-color);
  font-size: 10pt;
}

.editor code:not(.character) {
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;
  font-family: monospace;
  white-space: pre;
}

.editor textarea {
  text-align: inherit;
}

.editor code.character {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  pointer-events: none;
}

.container {
  position: relative;
  flex: 1;
}

.textarea {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  outline: none;
  border: none;
  background: transparent;
  padding: 0px;
  resize: none;
  color: transparent;
  font-size: inherit;
  font-family: monospace;
}
.textarea::selection {
  background: var(--theme-selection-color);
}
